{% extends 'base/layout.html' %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<style>
    .hero-section {
        height: 520px;
        background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
            url("https://dunb17ur4ymx4.cloudfront.net/packages/images/eaa5ecaa208e1f51c025cf85f84d50d7dfabfce3.jpg") center/cover no-repeat;
        display: flex;
        align-items: center;
        padding: 0 80px;
        border-radius: 12px;
    }

    .hero-text {
        color: #fff;
        max-width: 520px;
    }
</style>
{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-text">
        <h2>Affordable Price For Shopping</h2>
        <p>More Trash For Less Cash</p>
        <button class="btn btn-danger">Discover More</button>
    </div>
</div>

<h2 class="text-center mt-5">Trending Products</h2>

<div class="row mt-4">
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" height="200">
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>৳ {{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary">
                    View Details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}