{% extends 'base/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center">Login</h2>

<form method="POST" class="text-center">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <button class="btn btn-danger">Login</button>
</form>

<p class="text-center mt-3">
    <a href="{% url 'register' %}">Create new account</a>
</p>
{% endblock %}